*.md linguist-language=objective-c 
*.yml linguist-language=objective-c
*.html linguist-language=objective-c
*.js linguist-language=objective-c 
*.xml linguist-language=objective-c 
*.css linguist-language=objective-c
*.sql linguist-language=objective-c
*.uml linguist-language=objective-c
*.cmd linguist-language=objective-c
*.m linguist-language=objective-c
*.h linguist-language=objective-c
*.cpp linguist-language=objective-c
*.mm linguist-language=objective-c
*.swift linguist-language=objective-c